.card.shadow
  .card-header.bg-transparent
    .row.align-items-center
      .col
        h6.text-uppercase.text-muted.ls-1.mb-1 Cansat
        h2.mb-0 Orientation
      .col
        nav
          ul.pagination.justify-content-end
            li.page-item#reset-orientation-btn
              a.page-link()
                i.fa.fa-crosshairs
                span.sr-only Reset Orientation
  .card-body#model-container