.card.bg-gradient-default.shadow
  .card-header.bg-transparent
    .row.align-items-center
      .col
        h6.text-uppercase.text-light.ls-1.mb-1 Data Plot
        h2.text-white.mb-0#chart-title Acceleration
      .col
        nav
          ul.pagination.justify-content-end
            li.page-item.disabled
              a.page-link(href='#' tabindex='-1')
                i.fa.fa-angle-left
                span.sr-only Previous
            li.page-item
              a.page-link(href='#')
                i.fa.fa-angle-right
                span.sr-only Next
  .card-body
    .chart
      canvas#chart-sales.chart-canvas