.card.shadow
  .card-header.border-0
    .row.align-items-center
      .col
        h3.mb-0 Received Test Data
  .table-responsive
    table.table.align-items-center.table-flush.header-fixed
      thead.thead-light
        tr
          th(scope='col') Frame
          th(scope='col') Time
          th(scope='col') Pressure
          th(scope='col') Temperature
          th(scope='col') Altitude
          th(scope='col') Velocity
          th(scope='col') Battery
          th(scope='col') Soft State
          th(scope='col') AccelX
          th(scope='col') AccelY
          th(scope='col') AccelZ
          th(scope='col') OrientX
          th(scope='col') OrientY
          th(scope='col') OrientZ
      tbody#mainTable

