nav#navbar-main.navbar.navbar-top.navbar-expand-md.navbar-dark
  .container-fluid
    span.h4.mb-0.text-white.text-uppercase.d-lg-inline-block
      .media.align-items-center
        span.avatar.avatar-lg.rounded-circle
          img(alt='Image placeholder' src='images/logo.png')
        span.logo-text
          b ICL Rocketry
          br
          | Ground Control Station
    .navbar-nav.align-items-center.d-none.d-md-flex
      .badge.badge-dot.d-flex.flex-row.align-items-center.nav-link
        i.bg-danger
        span.text-sm.font-weight-bold#port COM5
      button.btn.btn-success#open-port-btn(type='button') Open Port
      button.btn.btn-danger#close-port-btn.d-none(type='button') Close Port
      //- button.btn.btn-neutral#new-test-btn.disabled(type='button') New Test
      button.btn.btn-success#start-test-btn(type='button') Start Test
      button.btn.btn-warning#pause-test-btn.d-none(type='button') Pause Test
      .btn-group(role='group' aria-label='Test Actions')
        button.btn.btn-secondary#reset-test-btn(type='button' data-toggle='modal' data-target='#modal-reset-test') Save Test
        button.btn.btn-danger#reset-test-btn(type='button' data-toggle='modal' data-target='#modal-reset-test') Reset Test

  #modal-reset-test.modal(role='dialog' aria-labelledby='modal-reset-test' aria-hidden='true')
    .modal-dialog.modal-danger.modal-dialog-centered.modal-(role='document')
      .modal-content.bg-gradient-danger
        .modal-header
          h6#modal-title-notification.modal-title Are you sure?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .py-3.text-center
            i.ni.ni-skull-55.skull-3x
            h4.heading.mt-4 Please confirm if you want to delete all test data.
            p
              | This is a destructive and permanent action. You will not be able to recover the collected test data from the GCS.
        .modal-footer
          button.btn.btn-white(type='button') Yes, Reset Test Data!
          button.btn.btn-link.text-white.ml-auto(type='button' data-dismiss='modal') Close
