doctype html
head
  include partials/head.pug
#home-page.main-content(style='opacity:0;')
  include partials/topnav.pug
  include partials/header.pug
  .container-fluid.mt--7
    .row
      .col-xl-8.mb-5.mb-xl-0
        include partials/mainchart.pug
      .col-xl-4
        include partials/3dmodel.pug
    .row.mt-5.mb-5.mb-xl-0
      .col
        include partials/table.pug
    include partials/footer.pug

